<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ghost.homework_2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.newPost.NewPostActivity" />
        <activity
            android:name=".presentation.images.ImagesActivity"
            android:label="@string/title_activity_images"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".presentation.main.LoginActivity"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.postDetails.PostDetailsActivity"
            android:label="@string/title_post" />
        <activity
            android:name=".presentation.main.MenuActivity"
            android:label="@string/title_activity_menu" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="dev.ghost.homework_2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>